# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment and secret files
.env

# macOS artifacts
.DS_Store

# Logs
*.log

# Test files
.pytest_cache/
pytest.ini
tests/test_*.py
tests/*.csv

# Docker
.docker/

# IDE files
.vscode/
.idea/
